@import "../../assets/theme/Variables.scss";

.lottie-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0px;
	min-height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 999;
	background-color: rgba($authCradBg, 1);
	div {
		svg {
			width: 400px !important;
			height: 400px !important;
		}
	}
}
