@import "../../../assets/theme/Variables.scss";

//business-detail-card
.business-detail-card {
	.business-info-section {
		position: relative;
		border-bottom: 1px solid rgba($whitePrimary, 0.12);
		padding-bottom: 20px;
		margin-bottom: 20px;

		.edit-business-btn {
			position: absolute;
			top: -27px;
			right: -10px;
			display: flex;
			align-items: center;
			gap: 15px;
		}

		.section-inline {
			display: flex;
			gap: 20px;
			.user-img {
				img {
					width: 90px;
					height: 90px;
					min-width: 90px;
					border-radius: 100%;
					object-fit: cover;
				}
			}
		}

		.section-info {
			.name {
				margin-bottom: 20px;

				h2 {
					color: $whitePrimary;
					font-weight: $semiBold;
					font-size: 38px;
					line-height: 48px;
					margin: 0px;
				}
			}

			.info-list {
				display: flex;
				flex-wrap: wrap;
				gap: 15px;

				.item {
					display: flex;
					align-items: center;
					gap: 10px;
					width: 45%;

					h6 {
						font-size: 14px;
						line-height: normal;
						color: $whitePrimary;
						margin: 0px;
						font-weight: $regular;
						opacity: 0.5;
						width: 110px;
						min-width: 110px;
					}

					p {
						font-size: 14px;
						line-height: normal;
						color: $whitePrimary;
						margin: 0px;
						font-weight: $regular;
						display: flex;
						align-items: center;
						gap: 20px;
						word-break: break-all;
						&.word-break {
							word-break: break-word;
						}
					}
				}

				@media screen and (max-width: 991px) and (min-width: 768px) {
					.item {
						width: 100%;
					}
				}
			}
		}
	}

	//revenue-card
	.revenue-card {
		background: linear-gradient(
			to right,
			rgba(206, 163, 68, 1),
			rgba(255, 218, 136, 1),
			rgba(206, 163, 68, 1)
		);
		padding: 15px;
		border-radius: 20px;

		.revenue-top {
			margin-bottom: 15px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			position: relative;
			.name {
				h5 {
					color: $revenueColor;
					font-size: 16px;
					line-height: normal;
					margin: 0px 0px 8px;
					font-weight: $semiBold;
				}

				p {
					color: $revenueColor;
					font-size: 30px;
					line-height: normal;
					margin: 0px;
					font-weight: $semiBold;
				}
			}

			.date-range-show {
				border: 1px solid $black;
				border-radius: 10px;
				padding: 5px 10px;
				background: $black;
			}
		}

		.revenue-mid {
			display: flex;
			flex-wrap: wrap;
			gap: 15px;

			.revenue-item {
				width: 45%;

				h6 {
					color: $revenueColor;
					font-size: 14px;
					line-height: normal;
					margin: 0px 0px 4px;
					font-weight: $regular;
				}

				p {
					color: $revenueColor;
					font-size: 14px;
					line-height: normal;
					margin: 0px;
					font-weight: $semiBold;
				}
			}
		}
	}

	//about-business-section
	.about-business-section {
		margin-bottom: 30px;

		.about-detail {
			word-wrap: break-word;
			overflow-wrap: break-word;
			white-space: normal;
			h3 {
				font-size: 16px;
				line-height: normal;
				color: $whitePrimary;
				margin: 0px 0px 10px;
				font-weight: $semiBold;
			}

			p {
				font-size: 14px;
				line-height: 20px;
				color: $whitePrimary;
				margin: 0px;
				font-weight: $regular;
				opacity: 0.7;
				white-space: pre-wrap;
				a {
					word-break: break-word;
				}
			}
		}
	}

	//all-events-section
	.all-events-section {
		.section-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;

			.name {
				h3 {
					color: $white;
					font-size: 16px;
					line-height: normal;
					margin: 0px;
					font-weight: $semiBold;
				}
			}
		}

		.section-tab-menu {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-bottom: 20px;

			.theme-button {
				min-width: 165px;
			}
		}
	}

	//make-hot-event
	.make-hot-event {
		margin-bottom: 20px;

		.hot-event-action {
			display: flex;
			align-items: center;
			gap: 25px;
			border: 1px solid rgba($whitePrimary, 0.12);
			padding: 8px 25px;
			border-radius: 25px;
			width: fit-content;

			.name {
				h5 {
					color: $white;
					font-size: 16px;
					line-height: normal;
					margin: 0px;
					font-weight: $semiBold;
				}
			}

			.action-item {
				display: flex;
				align-items: center;
				gap: 20px;
			}
		}
	}

	//main-attractions-section
	.main-attractions-section {
		.section-top {
			margin-bottom: 20px;

			.name {
				h3 {
					color: $white;
					font-size: 16px;
					line-height: normal;
					margin: 0px;
					font-weight: $semiBold;
				}
			}
		}

		.attractions-list {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			.item {
				width: 21%;

				p {
					color: rgba($whitePrimary, 0.5);
					font-size: 16px;
					line-height: normal;
					margin: 0px;
					font-weight: $regular;
					display: flex;
					align-items: flex-start;
					gap: 15px;

					svg {
						fill: $primary;
						width: 19px;
						height: 19px;
						min-width: 19px;
					}
				}
			}
		}
	}
}

//event-card
.event-card {
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid rgba($whitePrimary, 0.2);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	margin-bottom: 20px;

	.card-img {
		width: 130px;
		img {
			width: 130px;
			height: 175px;
			object-fit: cover;
			object-position: center;
			min-height: 175px;
		}
	}

	.event-detail {
		padding: 10px;
		width: calc(100% - 130px);
		.event-detail-top {
			border-bottom: 1px solid rgba($whitePrimary, 0.12);
			padding-bottom: 10px;
			margin-bottom: 10px;

			.name {
				h3 {
					color: $white;
					font-size: 16px;
					line-height: normal;
					margin: 0px 0px 4px;
					font-weight: $semiBold;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
				p {
					color: $whitePrimary;
					font-size: 14px;
					line-height: normal;
					font-weight: $regular;
					opacity: 0.6;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
					margin: 0px 0px 4px;
				}
			}

			.event-time {
				display: flex;
				align-items: center;
				gap: 10px;
				justify-content: space-between;

				p {
					color: $whitePrimary;
					font-size: 14px;
					line-height: normal;
					margin: 0px;
					font-weight: $regular;
					opacity: 0.6;
				}

				span {
					color: $whitePrimary;
					font-size: 14px;
					line-height: normal;
					margin: 0px;
					font-weight: $regular;
					opacity: 0.6;
				}
			}
		}

		.event-detail-mid {
			p {
				color: $whitePrimary;
				font-size: 12px;
				line-height: normal;
				margin: 0px;
				font-weight: $regular;
				opacity: 0.6;
				line-height: 18px;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}

		.booking-details {
			.booking-heading {
				margin-bottom: 4px;
				p {
					color: $whitePrimary;
					font-size: 12px;
					line-height: normal;
					margin: 0px;
					font-weight: $regular;
					opacity: 0.6;
					line-height: 18px;
				}
			}

			.booking-items {
				display: flex;
				align-items: center;
				gap: 10px;
				justify-content: space-between;
				margin-bottom: 4px;
				p {
					color: $whitePrimary;
					font-size: 12px;
					line-height: normal;
					margin: 0px;
					font-weight: $regular;
					opacity: 0.6;
					line-height: 18px;
				}
				&:nth-last-child(1) {
					margin-bottom: 0px;
				}
			}
		}
	}

	@media screen and (max-width: 991px) and (min-width: 768px) {
		.card-img {
			width: 110px;
			img {
				width: 110px;
			}
		}
		.event-detail {
			.event-detail-top {
				.name {
					h3 {
						font-size: 14px;
					}
				}
				.event-time {
					p {
						font-size: 12px;
					}
					span {
						font-size: 12px;
					}
				}
			}
		}
	}
}

//business-image-slider
.business-image-slider {
	img {
		width: 100%;
		height: 150px;
		object-fit: contain;
		border-radius: 10px;
		background-color: $black;
	}

	.swiper {
		padding-bottom: 30px;

		.swiper-pagination {
			bottom: 0px;

			.swiper-pagination-bullet {
				background-color: $white;
				opacity: 0.4;
				width: 8px;
				height: 8px;
				border-radius: 25px;

				&.swiper-pagination-bullet-active {
					opacity: 1;
					width: 22px;
				}
			}
		}
	}
}

.switch-taggle {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin-right: 10px;

	&.rejected {
		input:checked + .switch-slider {
			background-color: $danger;
			border-color: $danger;
		}

		input:not(:checked) + .switch-slider {
			background-color: $danger;
			border-color: $danger;
		}

		.switch-slider:before {
			background-color: $white;
		}
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .switch-slider {
			background-color: $primary;
			border-color: $primary;
		}

		&:focus + .switch-slider {
			box-shadow: 0 0 1px $primary;
		}

		&:checked + .switch-slider:before {
			transform: translateX(20px);
		}
	}

	.switch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		border: 1px solid rgba($whitePrimary, 0.12);
		transition: 0.4s;

		&:before {
			position: absolute;
			content: "";
			height: 14px;
			width: 14px;
			left: 2px;
			bottom: 2px;
			background-color: $whitePrimary;
			transition: 0.4s;
		}

		&.round {
			border-radius: 34px;

			&:before {
				border-radius: 50%;
			}
		}
	}
}

.switch-taggle-content {
	display: flex;
	align-items: center;

	label {
		margin: 0;
		font-size: 14px;
		color: $whitePrimary;

		&.text-danger {
			color: $danger;
		}
	}
}

.light-green {
	color: rgb(144, 238, 116) !important;
}
.light-yellow {
	color: $primary !important;
}
.light-red {
	color: rgb(250, 124, 124) !important;
}
