$authBase: #262f34;
$primary: #cea344;
$primaryAccent: #f8cb69;
$authCradBg: #081217;
$inputColor: #828282;
$themeCradBg: #0c1a22;
$tableHeadBg: #00283e;
$revenueColor: #161616;

$whitePrimary: #f9f9f9;

$black: #000000;
$success: #00c53b;
$danger: #ff0c23;
$warning: #ffd500;
$white: #ffffff;
$red: #d83333;

//font waight
$light: 300;
$regular: 400;
$semiBold: 500;
$bold: 600;
$extraBold: 700;
